

.container{
  width: 400px;
  border: 3px solid royalblue;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 9px;
}
  .output{
position: relative;
top:-20px;
/* right:300px; */
width: 70%;
height: 20%;
background-color: royalblue;
/* border: 2px solid black;; */
display: flex;
align-items: center;
justify-content: center;
color:white;
/* box-shadow: 2px 2px 2px black; */

}

.input{
position: relative;
top:-40px;
width: 55%;
height: 70%; 
/* border:2px solid rebeccapurple; */
border-radius: 9px;
/* position: absolute; */
/* top:200px;
left:200px; */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
/* text-indent: 10cm; */
padding: 0px;
}

.input input{
margin-top: 0px;
padding:0px;
}
.input h4{
text-align: center;
}


